
<div class="">
  <div class="task-attributes-container mx-auto w-75 p-3 bg-white shadow-lg">
    <h1 class="text-center"><%= @task.name %> </h1>
      <% if @task.description? %>
        <strong>Description</strong>
        <p class="h3 d-block"><%= @task.description %></p>
      <% end %>
      <strong>Start Date</strong>
      <p class="h3 d-block"><%= @task.start_time.strftime("%B") %> <%= @task.start_time.day %></p>
      <strong>Due Date</strong>
      <p class="h3 d-block"><%= @task.due_date.strftime("%B") %> <%= @task.due_date.day %></p>
    </div>
  </div>
</div>

<%= link_to "Back", root_path, class: "btn btn-primary"%>
<%= link_to "Edit", edit_subject_task_path(@subject, @task), class: "btn btn-secondary" %>
